@import '../../assets/style/userAvatar';

.profile {
	margin: 0 10%;

	.user {
		display: flex;
		gap: 32px;

		&__avatar {
			margin: 0;
			cursor: default;
			width: 100px;
			height: 100px;
			grid-area: img;
		}

		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 10px;

			&__name {
				color: var(--Black, #111010);
				font-family: 'Enthalpy 298', sans-serif;
				font-size: 40px;
				line-height: normal;
			}

			&__grade {
				font-size: 18px;
				font-weight: 400;
				line-height: 150%;
			}
		}
	}

	.courses {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		margin-top: 60px;
	}

	.data {
		margin: 64px 0;

		&__heading {
			font-family: 'Enthalpy 298', sans-serif;
			font-size: 40px;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 10px;
		}

		&__desc {
			margin-bottom: 48px;
		}
	}
}
