@import '../../assets/style/userAvatar';

.profile {
	margin: 0 10%;

	.user {
		display: flex;
		gap: 32px;
		position: relative;

		&__avatar {
			position: relative;
			margin: 0;
			width: 100px;
			height: 100px;
			grid-area: img;
			cursor: pointer;
			transition-duration: 0.2s;

			&:hover {
				opacity: 0.7;
			}
		}

		&::after {
			content: url('../../assets/images/avatar-edit.svg');
			display: flex;
			position: absolute;
			border-radius: 50%;
			left: 60px;
			bottom: -10px;
			background-color: var(--Main);
			padding: 6px 4px 0 5px;
			pointer-events: none;
			min-width: 26px;
		}

		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 10px;

			&__name {
				color: var(--Black, #111010);
				font-family: 'Enthalpy 298', sans-serif;
				font-size: 40px;
				line-height: normal;
			}

			&__grade {
				font-size: 18px;
				font-weight: 400;
				line-height: 150%;
			}
		}
	}

	.courses {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		gap: 40px;
		margin-top: 60px;
	}

	.data {
		margin: 64px 0;

		&__heading {
			font-family: 'Enthalpy 298', sans-serif;
			font-size: 40px;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 48px;
		}
	}
}
