.course {
	background: var(--Main) url('../../../../assets/images/Course_bg.png')
		no-repeat;
	background-size: 125% 160%;
	background-position: 35% 45%;
	overflow: hidden;
	border-radius: 35px;
	padding: 36px;
	display: flex;
	position: relative;
	box-shadow: 7px 7px 25px 0 rgba(0, 0, 0, 0.1);
	min-width: 500px;
	height: 300px;
	max-width: 950px;

	&__content {
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	&__continue-btn.btn {
		background-color: var(--White);
		color: var(--Main);
		line-height: normal;
		padding: 24px;
		width: 75%;
		margin-top: auto;
		font-weight: 500;

		&:hover {
			background-color: rgba(255, 255, 255, 0.8);
		}
	}

	&__title {
		color: var(--White);
		font-size: 40px;
		font-weight: 400;
		line-height: normal;
	}

	&__description {
		margin-top: 12px;
		margin-bottom: 15px;
		color: var(--White);
		font-size: 16px;
		font-weight: 400;
		line-height: normal;
	}

	&__img {
		position: absolute;
		bottom: 25px;
		right: -70px;
		transform: translate(0, 35%);
		width: 420px;
		height: auto;
	}
}
