.module {
  border-radius: 20px;
  background-color: var(--Main);
  box-shadow: 7px 7px 25px 0 rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;

  &:hover {
    opacity: 0.7;
  }

  &__link {
    text-decoration: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 22px 32px;
  }

  &__title {
    color: var(--White);
    font-family: "Enthalpy 298", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__lessons-count {
    color: var(--Gray89);
    background-color: var(--White);
    padding: 6px 21px;
    border-radius: 33px;
  }

  &_disabled {
    background-color: var(--GrayA);
  }
}