@keyframes opacityOn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.lesson-page {
	margin-bottom: 50px;
	display: flex;
	padding: 0 10%;

	&__messages {
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 700px;
	}

	&__btn {
		margin-top: 64px;
		max-width: 700px;
		width: fit-content;
		padding: 10px 25px;
		animation: opacityOn 0.2s ease-out;
	}

	&__wolf {
		position: fixed;
		right: 500px;
		top: 400px;

		@media (max-width: 1800px) {
			opacity: 0;
		}
	}
}
