.test-link {
	text-decoration: none;
	color: var(--Black);
}

.test {
	border-radius: 20px;
	border: 2px solid var(--Black);
	padding: 18px 20px;
	max-width: 795px;
	transition-duration: 0.2s;

	&:hover {
		background-color: whitesmoke;
		opacity: 0.7;
	}

	&__title {
		margin-bottom: 14px;
	}

	&__desc {
		margin-bottom: 24px;
	}
}
