.test-link {
	text-decoration: none;
	color: var(--Black);
	max-width: 795px;
}

.test {
	border-radius: 20px;
	border: 2px solid var(--Black);
	padding: 18px 20px;
	transition-duration: 0.2s;

	&:hover {
		background-color: whitesmoke;
		opacity: 0.7;
	}

	&__title {
		margin-bottom: 14px;
	}

	&__desc {
		margin-bottom: 24px;
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__completed-text {
		background-color: var(--Main);
		color: var(--White);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		border-radius: 33px;
		padding: 6px 21px;
	}

	&_completed {
		color: var(--Main);
		border-color: var(--Main);
	}
}
