.avatar {
	-webkit-user-drag: none;
	width: 137px;
	height: 137px;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.5;
	}
}

.active {
	outline: var(--Main) 4px solid;
	outline-offset: -4px;
	border-radius: 50%;
}
