.modal {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: var(--Black);
  font-family: "Enthalpy 298", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0 50px;
  gap: 2em;
  max-height: 329px;
  overflow: auto;
}

.current {
  width: 137px;
  align-self: center;
  margin-top: 70px;
  outline: var(--Main) 4px solid;
  outline-offset: -4px;
  border-radius: 50%;

  pointer-events: none;
}

.save {
  margin-top: auto;
  width: fit-content;
  padding: 10px 80px;
  align-self: center;
}