@import "../token";
@import "../../../assets/style/userAvatar";
@import "greeting";

.main-header {
  padding: 40px 10% 0;
  margin-bottom: 32px;

  .header__nav {
    display: flex;
    align-items: center;
    margin-bottom: 48px;

    .logo {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 9px;
      transition-duration: 300ms;

      &__img {
        width: 93px;
        height: 93px;
      }

      &__text {
        font-family: "Enthalpy 298", sans-serif;
        margin-right: auto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &:hover {
        gap: 13px;
      }
    }
  }
}