.main {
  margin: 0 10%;
}

.what-to-learn {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
}

.greeting {
  margin-bottom: 20px;

  &__heading {
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.courses-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 3em 4em;
  margin-bottom: 40px;
}