.token {
  display: flex;
  align-items: center;

  background-color: var(--Main);
  border-radius: 15px 14px 14px 15px;
  height: 55px;
  width: max-content;
  margin-left: auto;

  &__img {
    width: 72px;
    height: 72px;
    position: relative;
    left: -16px;
  }

  &__count {
    position: relative;
    right: 17px;
    color: var(--White);
    font-size: 23px;
    font-style: normal;
    line-height: normal;
  }
}