.message {
	background-color: var(--Main);
	color: var(--White);
	max-width: 700px;
	width: max-content;
	border-radius: 18px;
	position: relative;

	&_admin {
		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: -7px;
			height: 20px;
			width: 20px;
			background: var(--Main);
			border-bottom-right-radius: 15px;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: -10px;
			width: 10px;
			height: 20px;
			background: var(--White);
			border-bottom-right-radius: 10px;
		}
	}

	&_user {
		background-color: var(--GrayF1);
		color: var(--Black);

		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: -7px;
			height: 20px;
			width: 20px;
			background: var(--GrayF1);
			border-bottom-right-radius: 15px;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: -10px;
			width: 10px;
			height: 20px;
			background: var(--White);
			border-bottom-right-radius: 10px;
		}
	}

	&__text {
		padding: 6px 12px;
	}

	&__attachment {
		img,
		iframe {
			border-radius: 18px 18px 0 0;
			width: 600px;
			border: none;
		}
	}
}
