.authorize_form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
    max-width: 600px;
}

.authorize_form button {
    margin-top: 48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 200% */
}

.authorize_form h1 {
    font-size: 39px;
    margin-bottom: 62px;
    white-space: nowrap;
}

.authorize_form .restore_password {
    margin-top: 24px;
    white-space: nowrap;
}

.authorize_form p a{
    color: var(--Main);
    text-decoration: none;
}

.password_show {
    width: 24px;
    position: absolute;
    right: 15px;
    transform: translateY(16px);
    cursor: pointer;
}

.input_container {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 20px 0;
}

.input_container .input_title {
    align-self: flex-start;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.input_container input {
    width: 100%;
    padding: 16px 14px;
    border-radius: 20px;
    border: 2px solid var(--Black);
    font-size: 18px;
}

.input_container .input_error{
    border-color: red;
}

.input_container .filled {
    opacity: 1;
    border-color: var(--Main);
}

.input_container .unfilled{
    opacity: 0.4;
}

.auth_logo {
    width: 180px;
    margin-bottom: 25px;
}