@import "colors.css";

.loaded a {
    border-radius: 10px;
    color: var(--White);
    line-height: 200%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 85pt;
    border: none;
    background-color: var(--Main);
    text-decoration: none;
}

.loading, .loaded {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: var(--White);
}

.load_container_left {
    width: 55%;
}

.loaded .load_container_left {
    width: 30%;
}

.loaded .load_container_left {
    color: var(--Black);
}

.loaded .load_text {
    margin-bottom: 48px;
}

.load_title {
    font-size: 82px;
    margin-bottom: 32px;
    white-space: nowrap;
}

.loaded .load_title {
    font-size: 58px;
    margin-bottom: 20px;
}

.load_subtitle {
    color: var(--Black);
    font-family: 'Sweet Mavka Script', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    transform: rotate(-6.866deg);
    margin-bottom: 5%;
}

.load_wolf {
    width: 662px;
    height: auto;
    position: relative;
    top: 5%;
}