.main {
    margin: 0 10%;
}

.greeting {
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.what_to_learn {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}

.courses_container {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5% 5%;
}