.main_header {
    display: flex;
    align-items: center;
    margin: 40px 140px 0;
}

.logo_text {
    font-family: "Enthalpy 298", sans-serif;
    margin-right: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 9px;
}

.logo {
    width: 93px;
    height: 93px;
}

.token_container {
    display: flex;
    align-items: center;
    background-color: var(--Main);
    border-radius: 15px 14px 14px 15px;
    height: 55px;
    width: 95px;
}

.user_avatar {
    margin-left: 64px;
}

.token_img {
    width: 72px;
    height: 72px;
    position: relative;
    left:-16px;
}

.token_count {
    position: relative;
    right: 13px;
    color: var(--White);
    font-size: 23px;
    font-style: normal;
    line-height: normal;
}