@import "assets/style/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Enthalpy 298', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 150%;
  min-width: 720px;
}

button {
  border-radius: 16px;
  color: var(--White);
  line-height: 200%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 0;
  width: 100%;
  border: none;
  background-color: var(--Main);
  cursor: pointer;

  &:hover {
    background-color: var(--DarkMain);
  }

  &:disabled {
    background-color: var(--GrayA);
    cursor: default;
  }
}

input {
  &::-ms-reveal, &::-ms-clear {
    display: none;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-text {
  color: red;
  font-size: 16px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}
