@import "../../assets/style/userAvatar";

.burger {
  position: absolute;
  right: 10%;
  top: 140px;
  background-color: var(--Main);
  padding: 30px 40px;
  border-radius: 22px;

  &::before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    top: -25px; right: 13px; /* Положение треугольника */
    border: 15px solid transparent; /* Прозрачные границы */
    border-bottom: 20px solid var(--Main); /* Добавляем треугольник */
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: var(--White);
    outline: none;
    border: none;
    padding-left: 41px;
    height: 31px;
    cursor: pointer;
    background: url("../../assets/images/exit.svg") no-repeat;
    background-size: 31px;
    transition-duration: 0.2s;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.2;
    }
  }

  .btn-1 {
    background-image: url("../../assets/images/profile.svg");
  }
}